@{
    ViewBag.Title = "Chat";
}


<div class="container">

    <text id="conn">non connected</text>
    <br />
    <text id="curname">UserID</text>
    <input type="text" id="UserID" />

    <text id="curname">GroupID</text>
    <input type="text" id="GroupID" />


    <input type="button" id="joingroup" value="Join" />


</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>

    <script src="~/signalr/hubs"></script>

    <script>

        $(function () {

            var chat = $.connection.chatHub;
         
           


            $('#joingroup').click(function () {
                chat.server.joinInGroup($('#UserID').val(), $('#GroupID').val());
            });



            $.connection.hub.start().done(function () {
                $('conn').append("connected");
                chat.server.connectToAPI(prompt("Your ID:"));
                console.log("Connected");
            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}