@{
    ViewBag.Title = "Chat";
}

<div class="login_area">
    <h1>Login</h1>
    <br />
    <text> Player ID: </text>
    <input type="number" id="inp_playerId" />
    <input type="button" id="bnt_conPlayer" class="btn-success" value="Conect!" />
    <br />
    <text> Group ID: </text>
    <input type="number" id="inp_groupId" />
    <input type="button" id="bnt_conGroup" class="btn-success" value="Join!" />
</div>

<div class="Chat">
    <br />
    <h1 id="txt_chatName">Group</h1>
    <ul id="ul_chat" style="border-color:forestgreen">
    </ul>
    <input type="text" width="200" id="inp_message" />
    <input type="button" id="bnt_sendMes" class="btn-success" value="Send!" />


</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>

    <script src="~/signalr/hubs"></script>

    <script>

        $(function () {

            var chat = $.connection.chatHub;
            var player_id;
            var group_id;

            $('#bnt_conPlayer').click(function () {
                player_id = $('#inp_playerId').val();
                chat.server.connectToAPI(player_id);
            });

            $('#bnt_conGroup').click(function () {

                group_id = $('#inp_groupId').val();
                chat.server.joinInGroup(player_id, group_id);
            });



            chat.client.receiveMessageGroup = function (msg) {
                $('#ul_chat').append(htmlEncode(mg + '<br/>'));
            };

            $.connection.hub.start().done(function () {
                $('#bnt_sendMes').click(function () {
                    chat.server.sendMessageGroup($('#inp_message').val(), player_id, group_id);
                     console.log("Msg Sended");
                });
                console.log("Connected");
            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}