.a {
    background: white;
    height: 50px;
}

#botoes-header {
    margin-left: 1%;
    margin-right: 1%;
    height: 60px;
}

#botoes-header a {
    color: white;
}

.ui.secondary.menu .item {
    color: white;
}

#myHeader {
    top: 0;
    height: 20%;
    background: #0dbb6b;
}

.ui.menu:not(.vertical) .right.menu .item {
    margin-left: 0%;
    margin-right: 1%;
    padding: 1%;
}

#user-name-item {
    cursor: pointer;
    text-shadow: 3px 3px 5px rgb(0,0,0,0.4);
}