.connect-container {
    height: 200%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 0%;
    flex-direction: column;
}

.connect-title h1 {
    color: white;
}

.connect-title h2 {
    color: red;
}
