
.login-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    flex-direction: column;

}

.login-container form {
    width: 100%;
    max-width: 300px;
    align-items: center;
    flex-direction: column;
}

.login-container form input {
    margin-top: 0px;
    border: 2px solid rgb(62, 1, 130);
    border-radius: 2px;
    height: 30px;
    font-size: 16px;
    background: rgb(62, 1, 112);
    color: #eeeeee;
    margin-left: 0px;
    width: 100%;
    padding-left: 10px;
}

.login-container form input:hover {
    border: 2px solid rgb(49, 1, 104);
}

.login-container form input:focus {
    border: 2px solid rgb(82, 25, 146);
}

#botoes {
    margin-top: 20px;
    margin-left: 40px;
    transition: all .2s;
}

.login-container form h1 {
    text-align: center;
    margin-left: 0%;
    margin-bottom: 10%;
    color: white;
}

.login-container form h4 {
    text-align: left;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 14px;
    color: white;
}

.cadastro-label:hover {
    text-decoration: underline;
}

.cadastro {
    color: white;
    margin-top: 20px;
    margin-left: 1%;
    cursor: pointer;
} 

.cadastro-label {
    cursor: pointer;
}

.login-container img {
    align-items: center;
    margin-left: 32.5%;
}

.branch-button button {
    color: red;
}