.register-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 0%;
    flex-direction: column;
}

.register-inputs {
    margin-left: 0%;
    margin-top: 0%;
}

.register-title {
    margin-left: 0%;
    margin-bottom: 0%;
}