
.register-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 0%;
    flex-direction: column;
}

.register-inputs {
    margin-left: 0%;
    margin-top: 0%;
}

.register-inputs ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(4, 2fr);
    margin-top: 5%;
}

.register-inputs ul li {
    max-height: 60px;
    margin-bottom: 3px;
}

.register-inputs ul li h4 {
    margin-left: 5%;
    color: white;
    margin-bottom: 0%;
}

.register-inputs form input {
    margin-top: 4px;
    border: 2px solid rgb(62, 1, 130);
    border-radius: 4px;
    height: 30px;
    font-size: 16px;
    color: #eeeeee;
    background: rgb(62, 1, 112);
    margin-left: 10px;
    width: 300px;
    padding-left: 10px;
}

.register-inputs form input:hover {
    border: 2px solid rgb(49, 1, 104);
}

.register-inputs form input:focus {
    border: 2px solid rgb(82, 25, 146);
}

.register-container button {
    margin-top: 20px;
    width: 120px;
    margin-left: 35%;
    height: 35px;
    cursor: pointer;
    background: rgb(25, 172, 61);
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    color: white;
}

.register-title {
    margin-left: 0%;
    margin-bottom: 0%;
}

.register-title h1 {
    color: white;
}

.register-title img {
    align-content: center;
    margin-left: 15%;
    cursor: pointer;
    transition: all .2s;
}

.register-title img:hover {
    transform: translateY(-3px);
}